In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')

In [3]:
##Preprocess the data
##drop irrelevant features
data = data.drop(['RowNumber', 'CustomerId','Surname'],axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [4]:
##Encode categorical variable
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [5]:
##we will not apply label encoder directly here ,
##ONeHotEncoder
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [6]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [7]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns = onehot_encoder_geo.get_feature_names_out(['Geography']))

In [8]:
##COmbine all one hot encoded columns with the original data
data = pd.concat([data.drop('Geography',axis = 1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [9]:
#Split the data
x = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [10]:

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [11]:
##Save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler, file)

In [12]:
###Ann regression problem statement

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [16]:
#Build the model
model = Sequential([
    Dense(64, activation = 'relu',input_shape = (x_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(10) #Output layer for regression
])
##compile the model
model.compile(optimizer = 'adam',loss = 'mean_absolute_error',metrics = ['mae'])

model.summary()

/home/vaibhav-mishra/ML/DL/ANN_classification/venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2025-12-24 01:22:09.124151: E external/local_xla/xla/stream_executor/cuda/cuda_platform.cc:51] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: UNKNOWN ERROR (303)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 10)             │           330 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,242 (12.66 KB)

 Trainable params: 3,242 (12.66 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir,histogram_freq = 1)

In [18]:
#Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor = 'val_loss',patience=10,restore_best_weights=True)

In [19]:
#Train the model
history = model.fit(
    x_train,y_train,
    validation_data = (x_test, y_test),
    epochs = 100,
    callbacks = [early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 9ms/step - loss: 100364.1484 - mae: 100364.1484 - val_loss: 98433.1562 - val_mae: 98433.1562
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 99190.8203 - mae: 99190.8203 - val_loss: 96005.7656 - val_mae: 96005.7656
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 94990.6406 - mae: 94990.6406 - val_loss: 89913.1953 - val_mae: 89913.1953
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 87031.0781 - mae: 87031.0781 - val_loss: 80493.3359 - val_mae: 80493.3359
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 76463.1875 - mae: 76463.1875 - val_loss: 69878.1250 - val_mae: 69878.1250
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 65906.8828 - mae: 65906.8828 - val_loss: 60779.0078 - val_mae: 60779.0078
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 57885.1836 - mae: 57885.1836 - val_loss: 55025.1719 - val_mae: 55025.1719
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 53276.6602 - mae: 53276.6602 - val_loss: 52154.8438 - val_mae: 52154.8438
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 51258.8398 - mae: 51258.8398 - val_loss: 51270.8398 - val_mae: 51270.8398
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50588.3984 - mae: 50588.3984 - val_loss: 51058.2578 - val_mae: 51058.2578
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50379.9258 - mae: 50379.9258 - val_loss: 50959.8906 - val_mae: 50959.8906
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50272.3086 - mae: 50272.3086 - val_loss: 50885.5195 - val_mae: 50885.5195
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50191.2695 - mae: 50191.2695 - val_loss: 50816.5977 - val_mae: 50816.5977
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50126.6562 - mae: 50126.6562 - val_loss: 50748.2227 - val_mae: 50748.2227
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50070.2266 - mae: 50070.2266 - val_loss: 50691.0703 - val_mae: 50691.0703
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50020.3281 - mae: 50020.3281 - val_loss: 50625.8125 - val_mae: 50625.8125
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49972.2852 - mae: 49972.2852 - val_loss: 50589.9492 - val_mae: 50589.9492
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49931.3203 - mae: 49931.3203 - val_loss: 50563.1211 - val_mae: 50563.1211
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49902.0977 - mae: 49902.0977 - val_loss: 50524.0508 - val_mae: 50524.0508
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49872.3008 - mae: 49872.3008 - val_loss: 50486.7461 - val_mae: 50486.7461
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49837.6836 - mae: 49837.6836 - val_loss: 50456.4023 - val_mae: 50456.4023
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49814.2891 - mae: 49814.2891 - val_loss: 50442.2812 - val_mae: 50442.2812
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49788.3164 - mae: 49788.3164 - val_loss: 50416.1914 - val_mae: 50416.1914
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49762.4102 - mae: 49762.4102 - val_loss: 50403.6914 - val_mae: 50403.6914
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49743.1602 - mae: 49743.1602 - val_loss: 50383.6094 - val_mae: 50383.6094
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49723.0117 - mae: 49723.0117 - val_loss: 50366.2422 - val_mae: 50366.2422
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49703.7227 - mae: 49703.7227 - val_loss: 50349.2461 - val_mae: 50349.2461
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49685.4062 - mae: 49685.4062 - val_loss: 50338.5508 - val_mae: 50338.5508
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49669.4023 - mae: 49669.4023 - val_loss: 50323.4688 - val_mae: 50323.4688
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49652.9375 - mae: 49652.9375 - val_loss: 50325.6367 - val_mae: 50325.6367
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49638.1719 - mae: 49638.1719 - val_loss: 50314.5703 - val_mae: 50314.5703
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49623.6797 - mae: 49623.6797 - val_loss: 50316.8125 - val_mae: 50316.8125
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49610.7852 - mae: 49610.7852 - val_loss: 50309.3945 - val_mae: 50309.3945
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49600.6289 - mae: 49600.6289 - val_loss: 50302.7070 - val_mae: 50302.7070
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49585.9062 - mae: 49585.9062 - val_loss: 50289.3594 - val_mae: 50289.3594
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49575.9688 - mae: 49575.9688 - val_loss: 50298.8750 - val_mae: 50298.8750
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49565.9141 - mae: 49565.9141 - val_loss: 50294.4414 - val_mae: 50294.4414
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49556.2070 - mae: 49556.2070 - val_loss: 50288.4688 - val_mae: 50288.4688
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49546.5039 - mae: 49546.5039 - val_loss: 50299.5312 - val_mae: 50299.5312
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49539.9062 - mae: 49539.9062 - val_loss: 50287.2461 - val_mae: 50287.2461
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49528.3555 - mae: 49528.3555 - val_loss: 50293.6289 - val_mae: 50293.6289
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49521.2539 - mae: 49521.2539 - val_loss: 50293.0312 - val_mae: 50293.0312
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49513.0977 - mae: 49513.0977 - val_loss: 50301.9453 - val_mae: 50301.9453
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49506.8711 - mae: 49506.8711 - val_loss: 50292.0547 - val_mae: 50292.0547
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49502.0508 - mae: 49502.0508 - val_loss: 50286.6289 - val_mae: 50286.6289
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49491.4883 - mae: 49491.4883 - val_loss: 50290.1250 - val_mae: 50290.1250
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49483.9062 - mae: 49483.9062 - val_loss: 50282.8672 - val_mae: 50282.8672
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49482.3516 - mae: 49482.3516 - val_loss: 50298.5273 - val_mae: 50298.5273
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49472.4844 - mae: 49472.4844 - val_loss: 50296.7734 - val_mae: 50296.7734
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49464.9961 - mae: 49464.9961 - val_loss: 50293.2539 - val_mae: 50293.2539
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49463.1602 - mae: 49463.1602 - val_loss: 50292.8477 - val_mae: 50292.8477
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49454.8750 - mae: 49454.8750 - val_loss: 50297.6953 - val_mae: 50297.6953
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49446.9336 - mae: 49446.9336 - val_loss: 50299.3047 - val_mae: 50299.3047
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49443.0078 - mae: 49443.0078 - val_loss: 50289.4961 - val_mae: 50289.4961
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49436.7656 - mae: 49436.7656 - val_loss: 50297.2539 - val_mae: 50297.2539
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49431.7539 - mae: 49431.7539 - val_loss: 50311.7227 - val_mae: 50311.7227
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49426.7188 - mae: 49426.7188 - val_loss: 50311.7891 - val_mae: 50311.7891

In [21]:
%load_ext tensorboard

In [24]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6009 (pid 202339), started 0:02:28 ago. (Use '!kill 202339' to kill it.)

In [25]:
##evaluate mdodel on test data
test_loss,test_mae = model.evaluate(x_test,y_test)
print(f"Test MAE : {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 50282.8672 - mae: 50282.8672
Test MAE : 50282.8671875

In [26]:
model.save('modelregression.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.